/* 5 x 6 grid required */

h1 {}

.title-left {
    text-align: center;
    font-size: 5em;
    position: absolute;
    transform: rotate(-90deg);
    left: 0;
    bottom: 60%;
}

.title-right {
    text-align: center;
    font-size: 5em;
    position: absolute;
    transform: rotate(90deg);
    right: 0;
    bottom: 60%;
}

.grid-container {
    margin: 50px auto 0;
    max-width: 70%;
    text-align: center;
    position: relative;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0;
    margin: 5px;
    font-size: 2rem;
    text-align: center;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#new-game-button {
    margin: 20px auto;

}

/* Container div for all letter buttons */
#input-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: center;
}

/* class assigned to all letter buttons */
.letter-button,
.enter-button,
.del-button {
    width: 50px;
    height: 60px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    transition: all.2s ease-in-out;
}


.letter-button:hover,
.enter-button:hover,
.del-button:hover {
    transform: scale(1.1);
}

#letter-Enter {
    background-color: green;
    color: white;
    border: 1px solid black;
}



#letter-⌫ {
    background-color: darkgrey;
    border: 1px solid black;
}

.yellow {
    background-color: lightyellow;
}

.green {
    background-color: lightgreen;
}

.grey {
    background-color: lightgrey;
}